<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isslam.husonkids">
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SketchApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".Content"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DebugActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DebugActivity"
            android:exported="false" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.isslam.husonkids.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>